<h2>Forgot my password</h2>

I will send you an email that contain instructions for resetting your password.

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.email_field :email, placeholder: "Email Address...", class: "form-control" %>
  </div>
  <%= f.submit "Reset my password", class: "btn btn-lg btn-primary btn-block" %>
<% end %>
