<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th id="item-name" style="width: 75%">Items</th>
      <th id="item-actions" style="width: 25%">Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "items/item", collection: collection, as: :item %>
  </tbody>
</table>
