<% collection.order("created_at ASC").in_groups_of(4, false).each do |cards| %>
	<div class="gift-card--row row">
		<%= render partial: "layouts/card", collection: cards, as: :item %>
	</div>
<% end %>
