<% if @want.size <= 0 && @dont.size <= 0 %>
  <% if user != current_user %>
  	<div class="row">
  		<div class="col-xs-12">
  			<h3><%= user.name %> hasn't added any items to their wishlist yet!</h3>
  		</div>
  	</div>
  <% else %>
  	<div class="row">
  		<div class="col-xs-12">
  			<h2>Hey there, Wishlist is an easy way for you to coordinate gift giving.</h2>
  			<h4>
  				Use the form below to add gift ideas that your friends and family can see, or list an item as "No Thank You" to list something you want to make sure you don't receive.
  			</h4>
  			<h4>
  				The dropdown above will take you to other users' lists, where you can suggest items for them, or mark items on their list as purchased. They won't be able to see items you suggest, or if you've purchased something for them, but everyone else will.
  			</h4>
  		</div>
  	</div>
  <% end %>
<% end %>

<% if @want.size > 0 %>
	<div class="collection-section">
		<div class="row">
			<div class="col-xs-12">
				<div class="collection-section--heading">
					<h4>
						<span class="heading--giftIdeas">Gift Ideas</span>
					</h4>
				</div>
			</div>
		</div>
		<%= render partial: "items/collection", locals: { collection: @want } %>
	</div>
<% end %>

<% if @dont.size > 0 %>
	<div class="collection-section">
		<div class="row">
			<div class="col-xs-12">
				<div class="collection-section--heading">
					<h4>
						<span class="heading--noThanks">No Thank You</span>
					</h4>
				</div>
			</div>
		</div>
		<%= render partial: "items/collection", locals: { collection: @dont } %>
	</div>
<% end %>

<div class="row">
	<div class="col-xs-12">
		<%= render partial: "items/form", locals: { user: @user, item: @item } %>
	</div>
</div>
