// Importing Layout Components
@import "layout/collections";
@import "layout/navbar";

// Importing UI Components 
@import "components/cards";
@import "components/items";


// Overrides
body {
  font-family: 'Lato', sans-serif;
  margin-top: 70px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}